
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, 'Times New Roman', Times, serif;
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #000000;
    background-size: cover;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
}

nav {
    margin-left: 60%; 
    
}

nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    width: 170%;
}
nav ul li {
    display: inline;
    margin-right: 1%;
    padding-left: 5%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


nav ul li a:hover {
    color: #ffcc00; 
}


.logo {
    width: 60px; 
    height: auto; 
    margin-right: 20px; 
    border-radius: 50%;
}


/* Contenido principal */
main {
    padding-top: 25px; 
    position: relative; 
    background-color: rgb(0, 0, 0);
    color: white;
    padding-bottom: 3%;
}

section {
    margin-bottom: 4%;

}
.section2 {
    display: flex; 
}
.section2 p {
    margin: 20px; 
}

.column {
    flex: 1; 
    padding: 10px; 
}

.izquierda {
    flex: 2; 
}

.derecha {
    flex: 1; 
}

.imagen-columna {
    max-width: 100%; 
    height: auto; 

}
.section3 {
    display: flex; 
    background-image: url("imgs/fondo_encabezado.jpg");
    background-size: cover;
    padding: 10%;
    box-sizing: border-box;
    justify-content: center; 
    align-items: center;
}

.button {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 20px; 
    display: inline-block;
    margin: 5px;
    text-align: center;
    height: 110px;
    width: 220px;
}
.button-container {
    text-align: center; 
    border-radius: 5%;
    
}

.primary {background-image: linear-gradient(to right, #5500cc, #ffffff);
    text-align: center;
    height: 70px;
    width: 170px;
    border-radius: 5px;
    font-size: 20px;

} 
.primary:hover {background-image: url("imgs/fondo_github.jpeg");
    border-radius: 5%;
}


h1 {
    font-size: 140px;
    color: white; 
    text-align: center;
    font-family: 'FuenteTitulo', sans-serif;

}

/* Pie de página */
footer {
    background: radial-gradient(circle, #000000 10%, transparent 60%), #000000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.title {
    display: flex; 
    justify-content: center;
    color: white;
    background-image: url("imgs/fondo_main.webp");
    background-size: cover;
    height: 600px;
    text-align: center;
    align-items: center;
}



/* Animación */
#principal {
    animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@font-face {
    font-family: 'FuenteTitulo';
    src: url('imgs/KrinkesDecorPERSONAL.ttf') format('truetype');
}

#tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 20px; /* Padding superior para evitar que el header tape el contenido */
}

.product-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 250px;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-price {
    color: #007bff;
    font-size: 1.2em;
    margin: 10px 0;
}

.product-description {
    color: #666;
    font-size: 0.9em;
}