* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, 'Times New Roman', Times, serif;
    line-height: 1.6;
}

/* Encabezado */
.logo-container {
    text-align: center;
    margin-bottom: 20px; 
}

.menu {
    text-align: center;
}

.menu li {
    margin-right: 5px; 
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 9px; 
    display: block;
    font-size: 0.9em; 
}

.menu li a:hover {
    background-color: #444;
    color: #ffcc00; 
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 5px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 9px; 
    display: block;
    font-size: 0.9em; 
}

nav ul li a:hover {
    background-color: #444;
    color: #ffcc00; 
}

.logo {
    width: 65px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
}

/* Contenido principal */
main {
    padding: 0 20px;
    background-color: #000000;
    color: #333;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("imgs/fondo_galaxia.jpg");
    background-size: cover;
    height: 200px;
    text-align: center;
    padding: 20px;
    margin-top: -10px; 
}

.title h1 {
    font-size: 130px; 
    margin: 0; 
    font-family: 'MiFuente', sans-serif;
}

#tienda {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-buttons button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-buttons button:hover {
    background-color: #ffcc00;
    color: black;
}

.product-grid {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.product-grid.active {
    display: flex;
}

.product-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 250px;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-price {
    color: #007bff;
    font-size: 1.2em;
    margin: 10px 0;
}

.product-description {
    color: #666;
    font-size: 0.9em;
}

/* Pie de página */
footer {
    background: #000000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

@font-face {
    font-family: 'MiFuente';
    src: url('imgs/KrinkesDecorPERSONAL.ttf') format('truetype');
}

@media screen and (max-width: 768px) {
    .logo-container {
        margin-bottom: 0; 
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 5px 0; 
    }
}
